*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Main */

.hero.bg-1 {
    background-image: url("./img/hero_iphone14pro_spring__9xo85pm6sbmm_largetall.jpg");
}

.hero.bg-2 {
    background-image: url("./img/hero_iphone14_yellow__eun20sn4imi6_largetall.jpg");
}

.hero.bg-3 {
    background-image: url("./img/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_largetall.jpg");
}


.hero {
    background-size: cover;
    width: 100%;
    height: 580px;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title h2 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.title h2 img{
    height: 50px;
}

.title h4 img{
    height: 30px;
}


.title h3 {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
}

.title.white {
    margin-top: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title.white h2 {
    color: white;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.title.white h3 {
    color: white;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    width: 580px;
}

.title .link {
   margin-top: 20px;
}


link {
    display: flex;
    justify-content: space-around;
}

.link a {
    padding: 25px;
    text-decoration: none;
    color: #2997ff; 
    font-size: 21px;
    font-weight: 400;
    line-height: 1.381;
    font-family: Arial, Helvetica, sans-serif;
}

.series-8 {
    color: #cc2127;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: .090em;
}

.col.bg-1 {
    background-image: url("./img/iphone_tradein_promo__d5au3rkw5kuq_large.jpg");
    width: 50vw;
    margin: 7.5px;
}

.col-down.bg-2 {
    background-image: url("./img/promo_wwdc23__b68ptht3mro2_large.jpg");
    width: 50%;
    margin: 7.5px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

.col.bg-3 {
    background-image: url("./img/promo_ipad__fioegapg12qi_large.jpg");
    width: 50vw;
    margin: 7.5px;
}

.col.bg-4 {
    background-image: url("./img/promo_mbp__ek7p477bkp6q_large.jpg");
    width: 50vw;
    margin: 7.5px;
}

.col.bg-5 {
    background-image: url("./img/promo_homepod__f7jnolq94m2y_large.jpg");
    width: 50vw;
    margin: 7.5px;
}

.col.bg-6 {
    background-image: url("./img/tile__cauwwcyyn9hy_large.jpg");
    width: 50vw;
    margin: 7.5px;
}

.col {
    background-size: cover;
    background-position: center;
}
.col-2 {
    text-align: center;
    height: 580px;
    display: flex;
    flex-direction: row;
}

.title h4 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
}

.title h5 {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    width: 330px;
}

.title.white h4 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 5px;
}

.title.white h5 {
    width: 500px;
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    color: white;
}

.wrappper-2 {
    padding: 7.5px;
}

